/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* my custom csss */

@font-face {
    font-family: "dotty Regular";
    src: url(dotty.regular.ttf);
}
body{
    font-family: 'dotty Regular';
    font-size: 20px;
    color: rgb(189, 5, 149);
    background-image: url("back.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}
header{
    font-size: 3.6em;
    text-align: center;
    margin: 1.3em;
}
.btn{
    font-family:'dotty Regular' ;
    font-size: 3em;
    margin: .05em;
    border-radius: 5px;
    background-color: rgb(192, 27, 156);
    width: 1.25em;
    height: 1em;
}
.btn2{
    font-size: 30px;
    margin: .05em;
    border-radius: 5px;
    background-color: rgb(192, 27, 156);
    width: 75px;
    height: 60px;
}
#textyScreen{
    width: 6.6em;
    /* font-family:'dotty Regular' ; */
    font-size: 2.4em;
    text-align: right;
    border: 3px solid rgba(150, 7, 119, 0);
    margin: 1rem;
    color: rgb(233, 127, 210);
    background-color: rgba(5, 48, 48, 0.575);
    border-radius: 5px;
    
}
.tablas{
    margin: 1em;
}
.calcy{
    background-color: rgba(255, 0, 0, 0.10);
    margin: 1em auto;
    max-width: 18em;
    padding: .4em;
    border-radius: 10px;
    border: 1px solid rgba(24, 2, 2, 0);
}